[submodule "addons/StandardAssets"]
	path = addons/StandardAssets
	url = https://github.com/sci-comp/StandardAssets
[submodule "addons/EditorToolbox"]
	path = addons/EditorToolbox
	url = https://github.com/sci-comp/EditorToolbox/
[submodule "addons/SceneBuilder"]
	path = addons/SceneBuilder
	url = https://github.com/sci-comp/SceneBuilder
[submodule "addons/addons/EditorToolbox"]
	path = addons/addons/EditorToolbox
	url = https://github.com/sci-comp/EditorToolbox
