[submodule "addons/StandardAssets"]
	path = addons/StandardAssets
	url = https://github.com/sci-comp/StandardAssets
[submodule "addons/EditorToolbox"]
	path = addons/EditorToolbox
	url = https://github.com/sci-comp/EditorToolbox
