.godot*
.Screenshot*
.Temp*
.vs*

*.csproj
*.csproj.*
*.sln
*.tmp
*.old
*.old*

addons/dialogue_manager
addons/phantom_camera
addons/SceneBuilder
addons/terrain_3d

rcedit-x86.exe  # Necessary when building Godot to Windows